/* navigation section */
.navbar{
    flex-direction: column;
    height: 110px;
}
.navbar ul li a{
    font-size: 0.9rem;
    padding: 0px 5px;
}
.logo {
    display: flex;
    justify-content: center ;
    align-items: center;
}
/* home section */
.home{
    height: 420px  ;
    padding: 3px 68px ;
}
.home::before{
    
    margin-top: 110px ;
    height:40%;
    
}
.home::after{
   margin-top: 110px ;
   height:40%;

}
.home p{
    font-size: 16px ;
}
.btn{
    font-size: 1rem;
    padding: 4px 15px;
}

/* podcast section */
.podcast-item{
   flex-wrap: wrap;
   padding: 20px;
}
.podcast-container::before{
    height: 50vh;
}
.podcast-container::after{
    height: 50vh;
}
.podcast-container {
    padding:3px 68px;
}
.podcast-item {
    
}
.podcast-item img{
    width: 56px;
    height: auto;
   

}

/* category section */
.category
{
    flex-direction: column;
    padding-bottom: 100px;
}

.category .box{
    margin: 11px 20px;
}
.category-container{
    
}
.category .box img {
    height: 120px;
}
/* contact section */
.contact{
    padding: 3px 50px;
}
/* utility classes */
.prime{
    /* color: brown; */
    font-size: 30px;
}