* {
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;

}

.navbar {
    display: flex;
    background-color: #d24a4a1a;



}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 200px;
    height: 500px;
    color: white;

}

.home::before {

    content: '';
    /* background-color: #14181C; */
    background: url('../img/best1.jpg') no-repeat center;
    background-size: cover;
    position: absolute;
    opacity: 0.1;
    margin-top: 71.81px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 68%;
    z-index: -1;

}

.home::after {
    content: '';
    background-color: #14181C;
    position: absolute;

    margin-top: 71.81px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 68%;
    z-index: -2;

}

.logo a img {
    
    width: 270px;
    height: auto;
    /* margin-top: 10px; */
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;

}

li a {
    text-decoration: none;
    color: black;
    margin: 1.7rem;
    font-size: 1.3rem;
    font-weight: bold;



}

li a:hover {
    color: #d24a4a;


}

.home p {
    text-align: center;
    font-size: 1.2rem;
    color: #99AABB
}

.category {
    display: flex;
    margin: 30px;
}

.category .box {
    border: 4px solid brown;
    padding: 34px;
    margin: 3px 20px;
    border-radius: 23px;
    background-color: #d24a4a07;

}

.category .box img {
    height: 150px;
    display: block;
    margin: auto;
}

.podcast-container::before {
    content: '';
    background: url('../img/best2.jpg') no-repeat center;
    background-size: cover;
    position: absolute;
    opacity: 0.1;
    /* margin-top: 71.81px; */

    width: 100%;
    height: 68%;
    z-index: -1;

}

.podcast-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 200px;
    height: 485px;
    color: white;
}

.podcast-container::after {
    content: '';
    background-color: #14181C;
    position: absolute;
    width: 100%;
    height: 68%;

    z-index: -2;
}

.podcasts {
    display: flex;

}

.podcast-item {
    padding: 30px;

}

.podcast-item h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;


}

.podcast-item img {
    height: 124px;


}
.contact {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;
    padding: 3px 200px;
    /* height: 486px; */
    color: white;

}
.contact::before{
    content: '';
    background: url('../img/contact-us.jpg')no-repeat center center/cover;
    position: absolute;
    opacity: 0.1;


    /* margin-top: 71.81px; */

    width: 100%;
    height: 100%;
    z-index: -1;
}
.contact::after {
    content: '';
    background-color: #14181C;
    position: absolute;
    width: 100%;
    height: 100%;
    
    z-index: -2;
}

.contact-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 34px;  
}

.contact-box label{
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight:bold;
}
.contact-box input,
.contact-box textarea{
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;


}
.contact-box textarea{
    resize: none;
}
footer{
    background-color: black;
    color: white;
    padding: 10px 20px;
}
/* utility classes */
.prime {
    font-size: 2.8rem;
    padding: 12px;
    text-align: center;
}

.secondary {
    font-size: 1.8rem;
    padding: 12px;
    text-align: center;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: #d24a4a;
    color: white;
    margin: 17px;
    border-radius: 7px;
    font-size: 1.5rem;
    cursor: pointer;
}

.center {
    text-align: center;
}